
body{
    background-color: beige;
}

.main{
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}